<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layouts/_min.head.ejs') %>
        <title>
            <%=title%>
        </title>
</head>

<body>
    <%- include('layouts/_navbar.ejs') %>

        <h1 style="text-align: center;">
            DEMON RACE🎮❤❤❤
        </h1>

        <!-- Meto esto pa arreglar la vola del nombre de la foto!!!🤬🤬🤬 -->

        <div class="container-fluid animate__animated animate__fadeInUp">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="images/icons/idle1 copy.png" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Demon Race</h5>
                                    <p class="card-text">
                                        Proyecto desarrollado utilizando <a href="https://godotengine.org/">Godot</a>
                                        y su lenguaje nativo de programación: GDSCRIPT
                                    </p>
                                    <p class="card-text"><small class="text-muted">proyecto aun en desarrollo!😁</small>
                                    </p>
                                    <a href="https://github.com/Panchober27/godot-demon-game" target="_blank"
                                        class="btn btn-primary">Ver en github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="images/icons/Attack4.png" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Como Ejecutar?</h5>
                                    <p class="card-text">
                                        Para ejecutar el juego debes descargar la siguiente carpeta <a href="#">link de
                                            la carpeta</a>. <br>
                                        para poder ejecutar solo se debes dar doble click en el archivo ejecutable
                                    </p>
                                    <p class="card-text"><small class="text-muted">aún estoy viendo como
                                            crear la descarga desde el servidor jijii😅
                                        </small>
                                    </p>
                                    <a href="#" class="btn btn-primary">futuro boton de descarga</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <iframe width="350" height="215" src="https://www.youtube.com/embed/fiywMoFJzGQ?controls=0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <%- include('layouts/_min.footer.ejs') %>
</body>

</html>