<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layouts/_min.head.ejs') %>
        <link rel="stylesheet" href="css/index.css">
        <title>
            <%=title%>
        </title>
        <script>
            alert('FIXING THE PAGE 😐😐😐');
        </script>
</head>

<body>

    <!-- <%- include('layouts/_navbar.ejs') %> -->

        <!-- <h1 class="animate__animated animate__fadeIn">Iniciando el portafolio😋</h1> -->

        <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/components/godot-live.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/components/godot-live-script.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Demos Sitios Web.</h4>
                            <p class="card-text">
                                Demos de distintos sitios web alojados en Heroku y proximamente en Amazaon AWS😁
                            </p>
                            <a class="btn btn-primary" href="/live-demos"> Demos Web</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Video Juego</h4>
                            <p class="card-text">
                                Video Juego creado con el motor Godot y su lenguaje de programacion nativo GDScript, es
                                un proyecto en desarrollo. <br>
                                Pronto estara lista su descarga para jugar 😁
                            </p>
                            <a class="btn btn-primary" href="/games">Ir al Videojuego</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('layouts/_min.footer.ejs') %> -->
</body>

</html>