<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layouts/_min.head.ejs') %>
        <link rel="stylesheet" href="css/live-demos.css">
        <title>
            <%=title%>
        </title>
</head>

<body>
    <%- include('layouts/_navbar.ejs') %>
        <!-- <h1 style="text-align: center;">Vista de las demos en vivo❤❤</h1> -->

        <div class="container-fluid">
            <div class="row animate__animated animate__fadeInUp">
                <div class="col-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Demo tienda de motos online🛵</h5>
                            <p class="card-text">
                                Proyecto desarrollado usando NodeJS, Express y EJS <br>
                                El acceso al repositorio no es público de momento, pero en el futuro
                                estara disponible para su visualización y descarga😋
                            </p>
                            <a href="https://demo-em.herokuapp.com/" target="_blank" class="btn btn-primary">Vsitar el
                                sitio🙌</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Aplicació para guardar links👍</h5>
                            <p class="card-text">
                                App con nodeJS, Epress, Mysql para guardar links favoritos jiji❤
                            </p>
                            <a href="https://links-app-web.herokuapp.com/" target="_blank"
                                class="btn btn-primary">Visitar Sitio🙌</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Aplicaciones Moviles📱</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary" id="btnNoData">Ver Contenido</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Juegos🎮</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                                repellat
                                laudantium provident!</p>
                            <a href="/games" class="btn btn-primary">Ver Contenido</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Aplicación de escritorio con Java☕</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="/extra-limpio-main" class="btn btn-primary">Ver contenido</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <script src="js/live-demos.js"></script>

        <%- include('layouts/_min.footer.ejs') %>
</body>

</html>